<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BendSheetConfigSection" type="BendSheets.ConfigurationManagement.BendSheetsConfigurationHandler, Recipe Master, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BendSheets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mockConnection" value="false" />
    <add key="mockCpuConnection" value="false" />
    <add key="LogFileName" value="RecipeMaster" />
    <add key="LogFileDirectory" value="c:\Logs\RecipeMaster"/>
    <add key="SecurityFileName" value="\secMgrUtil.bin" />
    <add key="SendVariablePrefix" value="currentPart"/>
    <add key="ReceiveVariablePrefix" value="runningPart"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LogLevel" value="DEBUG"/>
    <add key="ProductionTemplateExcel" value="Production Excel Template"/>
    <add key="ControlWorksWebsite" value="http://www.control-works.com/index.htm"/>
  </appSettings>
  <BendSheetConfigSection bendSheetConfigs="BendSheetConfigs">
    <bendConfig archive="true" cell="D3" />
  </BendSheetConfigSection>
  <applicationSettings>
    <BendSheets.Properties.Settings>
      <setting name="MAX_ROWS" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MainFormTitle" serializeAs="String">
        <value>Recipe Master</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>Recipe Master</value>
      </setting>
      <setting name="SOURCE_STATION_ID" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MaxValue" serializeAs="String">
        <value>150</value>
      </setting>
    </BendSheets.Properties.Settings>
  </applicationSettings>
</configuration>